<section>
  <div class="w-full max-w-xs m-auto">
    <form phx-change="update" phx-submit="find-average" class="bg-white border  rounded-lg px-8 pt-6 pb-2 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm mb-1" for="room_id">
          Room Id
        </label>
        <input type="text" name="room_id" value={@room_id} phx-debounce="400" placeholder="Room ID" autocomplete="off" id="name" class="appearance-none border border-gray-300 rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm mb-1" for="bongles">
          Number Of Clients
        </label>
        <input type="text" name="number_of_clients" value={@number_of_clients} phx-debounce="0" placeholder="Number Of Clients" autocomplete="off" id="name" class="appearance-none border border-gray-300 rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm mb-1" for="refresh_interval">
          Refresh Interval
        </label>
        <input type="text" name="refresh_interval" value={@refresh_interval} phx-debounce="0" placeholder="Refresh Interval" autocomplete="off" id="number" class="appearance-none border border-gray-300 rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
      </div>
    </form>
  </div>
</section>
