<section>
  <h1 class="text-r text-4xl m-3">Welcome to Quick Average</h1>
  <p class="mb-5">Get a quick average from your team</p>

  <footer class="absolute inset-x-0 bottom-0 h-16">
    <a href="https://github.com/dewetblomerus/quickaverage">
      Source Code for QuickAverage
    </a>
  </footer>
</section>
