<section class="phx-hero">
  <section class="phx-hero">
    <p>Click the button to get a Quick Average from multiple people</p>
    <%= create_room_link(@socket, "Create Room Link", "button") %>
  </section>
</section>
