<section>
  <h1>Welcome to Quick Average</h1>
  <p>Get a quick average from your team</p>

  <footer>
    <a href="https://github.com/dewetblomerus/quickaverage">
      Source Code for QuickAverage
    </a>
  </footer>
</section>
